body {
    background-color: black;
    }
h1 {
    color: #DAA520;
    text-align: center;
    font-size: 80px;
    }
p {
    color: #FFD700;
    font-size: 30px;
    text-align: center;
    }
h2,h3,h4 {
    text-align: center;
    color: Gold;
    font-size: 60px;
    }
img {
    height: 600px;
    }